{% extends 'admin/base_site.html' %}

{% block content %}
  <div style="display: flex; flex-direction: column; align-items: center;">
    
    <img src="{% url 'video_feed' %}" style="margin-top: 20px;">
  <!--  <img src="test_image.jpg" style="margin-top: 20px;"> -->
    <form method="post" action="{% url 'enviar_solicitud' %}">
      {% csrf_token %}
    <input type="submit" value="ABRIR PUERTA" style="background-color: #28B62C; border-style: none; margin-top: 50px; padding-top: 8px; padding-bottom: 8px; color: white; border-radius: 5px; font-weight: bold; font-size: small; border-bottom: 5px solid #23A127;">
</form>

  </div>
{% endblock %}
